
@{
	ViewData["Title"] = "Team Settings";
}

@*<h2>Team Settings</h2>*@

<div class="row">
	<div class="col-md-6 pr-3">
		<div class="row mt-3">
			<h4>Department Listing</h4>
			<table class="table table-hover mt-3">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row mt-3">
			<h4>Employee Listing</h4>
			<table class="table table-hover mt-3">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6 pl-5 mt-5">
		<div class="row card mt-3">
			<div class="card-body">
				<h5 class="card-title">Department/Employee</h5>
				<h1>
					Jacob Thornton
				</h1>
			</div>
		</div>
		<div class="row card">
			<div class="card-body">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="defaultChecked1">
					<label class="custom-control-label" for="defaultChecked1">Default checkedx</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
					<label class="custom-control-label" for="defaultChecked2">Default checked</label>
				</div>
			</div>
		</div>
	</div>
</div>


@*<script>
		var citynames = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: {
				url: '~/Assets/citynames.json',
				filter: function (list) {
					return $.map(list, function (cityname) {
						return { name: cityname };
					});
				}
			}
		});
		citynames.initialize();

		$('input').tagsinput({
			typeaheadjs: {
				name: 'citynames',
				displayKey: 'name',
				valueKey: 'name',
				source: citynames.ttAdapter()
			}
		});
	</script>*@