
@{
	ViewData["Title"] = "Department Spread";
}

<div>
	<h2>Employees Per Department</h2>
	<partial name="_BarGraph" view-data="ViewData" />
</div>
@*<div class="mt-5">
		<h2>Retnetion Rate</h2>
		<partial name="_PieChart" view-data="ViewData"/>
	</div>*@