
@{
	ViewData["Title"] = "Reports";
}

<div class="float-right">
	<b>Terminations</b>
	<div class="btn btn-danger">
		24
	</div>
</div>
<div>
	<h2>Hires Per Week</h2>
	<partial name="_BarGraph" />
</div>
<div class="mt-5">
	<h2>Retnetion Rate</h2>
	<partial name="_PieChart" />
</div>