@{
	ViewData["Title"] = "Home Page";
}
	<div>
		<h2>
			Employee Manager
		</h2>
		<br />
		<p>
			Welcome to the Employee Manager site
		</p>
		<p>
			I'm not really certain what to put here for context, but here's a bunch of text to fill up just a little bit more than if I had left it blank. I'm hoping this is enough at this point because I'm quickly running out of filler text ideas.
		</p>
		<p>
			Maybe If I just keep slapping the keyboard, it will look like there was a lot of thought put into this.
		</p>
	</div>